@font-face {
  font-family: "Staatliches";
  src: url("/other-file/Staatliches-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Staatliches";
}

.authoeization-page {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: url(../img/fresh-vegetable-salad-plate-white-concrete-surface.jpg) center top no-repeat;
  background-size: cover;
}

.registration-block {
  width: 1080px;
  height: 720px;
  background: #fff;
  border-radius: 85px 85px 0px 0px;
  padding: 120px 200px 0px 200px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-block {
  width: 100%;
  margin-bottom: 60px;
}

.input-block:last-of-type {
  margin-bottom: 20px;
}

.input-block .lable {
  width: auto;
  font-size: 50px;
  font-weight: 300;
  color: #d8e022;
  margin-bottom: 10px;
  padding-left: 27px;
  letter-spacing: 6px;
}

.input-block input {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 30px;
  border: none;
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
  outline: none;
  padding-left: 20px;
  padding-bottom: 1px;
}

.password-input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.login-block .ligin {
  cursor: pointer;
  border: none;
  width: 350px;
  height: 90px;
  background-color: #d8e022;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 42px;
  color: #fff;
}

.login-block .ligin:active {
  opacity: .5;
}

.social-login {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-login .item {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 8px 4px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 0px 8px 4px rgba(34, 60, 80, 0.2);
  padding: 20px;
}

.social-login .item img {
  width: 100%;
  height: auto;
}

.social-login .item:active {
  opacity: .5;
}

.wrapper {
  width: 1388px;
  padding: 0px 20px;
  margin: 0 auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 140px;
  padding: 30px 0px 0px 0px;
  position: relative;
}

header .menu {
  position: absolute;
  padding-left: 50px;
}

header .menu .burger {
  width: 47px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .menu .burger .line {
  width: 100%;
  height: 4px;
  background-color: #fff;
}

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: -7px;
  position: relative;
}

header .wrapper .search {
  width: 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 7px;
  border-bottom: 4px solid #000;
}

header .wrapper .search .search-input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 23px;
  line-height: 25px;
  color: #ffffff;
  background-color: inherit;
  border: none;
  outline: none;
}

header .wrapper .search .search-input::-webkit-input-placeholder {
  color: #ffffff;
  opacity: .8;
}

header .wrapper .search .search-input:-ms-input-placeholder {
  color: #ffffff;
  opacity: .8;
}

header .wrapper .search .search-input::-ms-input-placeholder {
  color: #ffffff;
  opacity: .8;
}

header .wrapper .search .search-input::placeholder {
  color: #ffffff;
  opacity: .8;
}

header .wrapper .search .search-icon {
  width: 30px;
  height: 30px;
}

header .wrapper .qr-scaner {
  position: absolute;
  right: 0;
  width: 110px;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .wrapper .qr-scaner .text {
  font-size: 72px;
  letter-spacing: 1px;
  color: #fff;
  font-weight: 400;
}

header .wrapper .qr-scaner .corner {
  position: absolute;
  width: 14px;
  height: 14px;
}

header .wrapper .qr-scaner .corner.left-top-corner {
  top: 0px;
  left: 0px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
}

header .wrapper .qr-scaner .corner.left-bottom-corner {
  bottom: 0px;
  left: 0px;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
}

header .wrapper .qr-scaner .corner.right-top-corner {
  top: 0px;
  right: 0px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
}

header .wrapper .qr-scaner .corner.right-bottom-corner {
  bottom: 0px;
  right: 0px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
}

.main-page-body {
  background: url(/img/main-bg.jpg) bottom center no-repeat;
  background-size: cover;
  -webkit-backdrop-filter: brightness(0) invert(1);
          backdrop-filter: brightness(0) invert(1);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.main-page-body .main-page {
  padding-top: 150px;
}

.main-page-body .main-page .today-special {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  padding: 0 250px 0px 50px;
}

.main-page-body .main-page .today-special .title {
  width: 160px;
  font-size: 58px;
  letter-spacing: 1px;
  color: #cf2410;
  font-weight: 400;
  text-align: center;
  margin-right: 60px;
}

.main-page-body .main-page .today-special .card-block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-page-body .main-page .today-special .card-block .card {
  width: 170px;
  height: 180px;
  background-color: #ffffff;
  -webkit-box-shadow: 4px 4px 1px 0px rgba(189, 189, 189, 0.9);
          box-shadow: 4px 4px 1px 0px rgba(189, 189, 189, 0.9);
  border-radius: 10px;
  padding: 0px 5px 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.main-page-body .main-page .today-special .card-block .card .logo {
  position: relative;
  top: -0px;
  margin-bottom: -30px;
  width: 100%;
  height: auto;
}

.main-page-body .main-page .white-bg-block {
  background-color: #ffffff;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px 250px 30px 50px;
  border-radius: 10px 10px 0px 0px;
}

.main-page-body .main-page .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.main-page-body .main-page .row:last-of-type {
  margin-bottom: 0px;
}

.main-page-body .main-page .row .title {
  width: 160px;
  font-size: 42px;
  letter-spacing: 1px;
  color: #000000;
  font-weight: 400;
  text-align: left;
}

.main-page-body .main-page .row .card-block {
  margin-left: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 45px;
}

.main-page-body .main-page .row .card-block .card {
  width: 170px;
  height: 180px;
  background-color: #ffffff;
  -webkit-box-shadow: 4px 4px 1px 0px rgba(189, 189, 189, 0.9);
          box-shadow: 4px 4px 1px 0px rgba(189, 189, 189, 0.9);
  border-radius: 10px;
  padding: 0px 5px 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.main-page-body .main-page .row .card-block .card .logo {
  position: relative;
  top: -0px;
  margin-bottom: -30px;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1428px) and (min-width: 1025px) {
  .wrapper {
    width: 100%;
    padding: 0px 5px;
    margin: 0 auto;
  }
  .qr-scaner {
    margin-right: 20px;
  }
  .today-special {
    padding-left: 25px !important;
    padding-right: calc(10px + 100 * (100vw - 1025px) / (1428 - 1025)) !important;
  }
  .today-special .title {
    margin-right: 30px !important;
  }
  .white-bg-block {
    padding-left: 25px !important;
    padding-right: calc(10px + 100 * (100vw - 1025px) / (1428 - 1025)) !important;
  }
  .white-bg-block .row .title {
    margin-right: 30px;
  }
  .white-bg-block .row .card-block {
    padding-left: 0px !important;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .registration-block {
    margin: 0px auto;
    height: 70%;
    width: 500px;
    padding: 50px 20px 0px;
  }
  .input-block {
    margin-bottom: 30px;
  }
  .input-block input {
    font-size: 24px;
  }
  .input-block .lable {
    font-size: 32px;
  }
  .login-block {
    margin-bottom: 20px;
  }
  .login-block .ligin {
    width: 250px;
    height: 60px;
    font-size: 32px;
  }
  .social-login {
    width: 70%;
  }
  .social-login .item {
    width: 50px;
    height: 50px;
    padding: 10px;
  }
  .wrapper {
    width: 100%;
    padding: 0px 15px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) and (min-width: 500px) {
  .registration-block {
    margin: 0px auto;
    height: 70%;
    width: 450px;
    padding: 50px 20px 0px;
  }
  .input-block {
    margin-bottom: 30px;
  }
  .input-block input {
    font-size: 18px;
  }
  .input-block .lable {
    font-size: 24px;
  }
  .login-block {
    margin-bottom: 20px;
  }
  .login-block .ligin {
    width: 250px;
    height: 60px;
    font-size: 24px;
  }
  .social-login {
    width: 70%;
  }
  .social-login .item {
    width: 50px;
    height: 50px;
    padding: 10px;
  }
}

@media screen and (max-width: 499px) and (min-width: 360px) {
  .registration-block {
    margin: 0px auto;
    height: 70%;
    width: 90%;
    padding: 30px 20px 0px;
  }
  .input-block {
    margin-bottom: 30px;
  }
  .input-block input {
    font-size: 18px;
  }
  .input-block .lable {
    font-size: 24px;
  }
  .login-block {
    margin-bottom: 20px;
  }
  .login-block .ligin {
    width: 200px;
    height: 40px;
    font-size: 24px;
  }
  .social-login {
    width: 70%;
  }
  .social-login .item {
    width: 45px;
    height: 45px;
    padding: 10px;
  }
}
/*# sourceMappingURL=style.css.map */