<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <!-- <div class="background">
        <img id="background-img" src="./img/fresh-vegetable-salad-plate-white-concrete-surface.jpg" alt="">
    </div> -->
    <div class="authoeization-page">
        <div class="registration-block">
            <form>
                <div class="input-block login">
                    <div class="lable">Username</div>
                    <input type="text" id="reg-login" name="login" placeholder="login (email)*">
                </div>
                <div class="input-block password">
                    <div class="lable">Password</div>
                    <div class="password-input">
                        <input type="password" id="reg-password" name="password" placeholder="password*">

                    </div>
                </div>
                <div class="login-block">
                    <button class="ligin">LOG IN</button>
                </div>
                <div class="social-login">
                    <div class="item">
                        <img src="./img/login-icons/apple.ico" alt="">
                    </div>
                    <div class="item">
                        <img src="./img/login-icons/fb.ico" alt="">
                    </div>
                    <div class="item">
                        <img src="./img/login-icons/google.ico" alt="">
                    </div>
                    <div class="item">
                        <img src="./img/login-icons/vk.ico" alt="">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="./js/login.js">
    </script>
</body>

</html>