<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body class="main-page-body">

    <header class="main-page-header">
        <div class="menu">
            <div class="burger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
        <div class="wrapper">
            <div class="search">
                <input type="text" class="search-input" placeholder="search">
                <img src="./img/general-img/search.svg" alt="" class="search-icon">
            </div>
            <div class="qr-scaner">
                <div class="text">QR</div>
                <div class="corner left-top-corner"></div>
                <div class="corner left-bottom-corner"></div>

                <div class="corner right-top-corner"></div>

                <div class="corner right-bottom-corner"></div>

            </div>
        </div>
    </header>
    <main class="main-page">
        <div class="wrapper">
            <div class="today-special">
                <div class="title">Todays<br>Special </div>
                <div class="card-block">
                    <div class="card">
                        <img style="top: -10px;" src="/img/moos.png" alt="" class="logo">
                    </div>
                    <div class="card">
                        <img style="top: -12px;" src="/img/oko.png" alt="" class="logo">
                    </div>
                    <div class="card">
                        <img src="/img/tuljak-logo.jpg" alt="" class="logo">
                    </div>
                    <div class="card">
                        <img style="top: -24px;" src="/img/lee.png" alt="" class="logo">
                    </div>
                </div>
            </div>
            <div class="white-bg-block">
                <div class="row">
                    <div class="title">
                        top
                    </div>
                    <div class="card-block">
                        <div class="card">
                            <img style="top: -10px;" src="/img/moos.png" alt="" class="logo">
                        </div>
                        <div class="card">
                            <img style="top: -12px;" src="/img/oko.png" alt="" class="logo">
                        </div>
                        <div class="card">
                            <img src="/img/tuljak-logo.jpg" alt="" class="logo">
                        </div>
                        <div class="card">
                            <img style="top: -24px;" src="/img/lee.png" alt="" class="logo">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="title">
                        NEAR YOU
                    </div>
                    <div class="card-block">
                        <div class="card">
                            <img style="top: -10px;" src="/img/moos.png" alt="" class="logo">
                        </div>
                        <div class="card">
                            <img style="top: -12px;" src="/img/oko.png" alt="" class="logo">
                        </div>
                        <div class="card">
                            <img src="/img/tuljak-logo.jpg" alt="" class="logo">
                        </div>
                        <div class="card">
                            <img style="top: -24px;" src="/img/lee.png" alt="" class="logo">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="title">
                        your favorites
                    </div>
                    <div class="card-block">
                        <div class="card">
                            <img style="top: -10px;" src="/img/moos.png" alt="" class="logo">
                        </div>
                        <div class="card">
                            <img style="top: -12px;" src="/img/oko.png" alt="" class="logo">
                        </div>
                        <div class="card">
                            <img src="/img/tuljak-logo.jpg" alt="" class="logo">
                        </div>
                        <div class="card">
                            <img style="top: -24px;" src="/img/lee.png" alt="" class="logo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="./js/app.js">
    </script>
</body>

</html>